<section class="dc__page">
	<div class="ui grid container">
		<div class="row">
			<div class="column">
				{{partial 'partials/input-instructions'}}
			</div>
		</div>

		<div class="row">
			<div class="column eight wide">
				<div class="ui info message">
					To run the command press enter key OR click on Draw button.
				</div>
				<div class="ui big form">
					<form {{action "drawCanvas" on="submit"}} id="canvasForm">
						<div class="fields">
							<div class="ten wide  field {{if  canvasModel.hasErrors 'error' ''}}">
							    {{input 
							    	type="text" 
							    	value=consoleInput 
							    	placeholder='Enter your command..'
							    	id="canvasInput"}}
							</div>
							<div class="four wide field" id="canvasDraw">
							    <button class="ui primary button big">
								  Draw
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="column">
				{{#if  canvasModel.hasErrors}}
					<div class="ui warning message">
					 	<ul class="list">
							{{#each canvasModel.errors as |error|}}
								<li> {{error.message.firstObject}} </li>
							{{/each}}
						</ul>
					</div>
				{{/if}}
			</div>
		</div>
		
		<div class="row">
			<div class="column">
				<div class="dc-canvas">
				  	<canvas id='dc-canvas' tabindex="1" role="img" aria-label="drawing shape">
						{{FALLBACK_MESSAGE}}
					</canvas>
				</div>
			</div>
		</div>
	</div>
</section>